
html {
    max-width: 1600px;
    text-align: center;
    margin: auto;
    min-width: 500px;
    font-family: 'Kulim Park', sans-serif;
}
button {
    cursor: pointer;
}
::placeholder {
    opacity: 0.5;
}
.hidden {
    display: none;
}
header h1{
    text-align: center;
    margin: 50px auto;
    font-size: 400%;
}
.grouper {
    margin: 0 auto 20px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: left;
    min-width: 700px;
}
.grouperTitleContainer {
    text-align: left;
}
.grouperTitle, .grouperExpandbtn h2, .taskExpandbtn h4, .taskTitle {
    display: inline-block;
    font-size: 3em;
    color: darkslategray;
    margin: 30px 30px;
}
.grouperTitle {
    width: 80%;
}
.taskExpandbtn h4, .grouperExpandbtn h2 {
    margin: 20px;
}
.grouperExpandbtn, .taskExpandbtn {
    display: inline-block;
    padding: 0;
    float: right;
    background-color: inherit;
    border: none;
    outline: none;
}
.newbtn {
    background-color: lightgrey;
    color: gray;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 2em;
    margin: 20px 30px;
}
.newbtn:hover {
    background-color: gray;
    color: white;
}
.newGrouperPopup {
    display: none;
}
.testFormExpand {
    max-height: 0;
    transition: all 450ms;
    overflow-y: hidden;
}
.testGrouperExpand {
    max-height: 0;
    transition: max-height 700ms;
}
.newGrouperContainer {
    margin: 30px auto;
}
.newGrouperForm input, .newTaskForm input {
    min-width: 400px;
    margin: 15px auto 15px;
    padding: 10px;
    font-size: 200%;
    color: darkslategrey;
    text-align: center;
    border: none;
    outline: 2px solid rgba(119,136,153,0.5);
}
.newGrouperForm button, .newTaskForm button {
    width: 120px;
    font-size: 150%;
    outline: solid 1px;
    border: none;
    margin: 30px;
    padding: 20px;
    color: darkslategrey;
}
.newGrouperForm button:hover, .newTaskForm button:hover {
    background-color: slategrey;
    color: white;
}
.newTaskPopup, .newGrouperPopup {
    transform: scale(0);
}
.newTaskForm input, textarea {
    display: block;
}
.newTaskForm div {
    text-align: center;
}
textarea {
    height: 300px;
    width: 50vw;
    margin: 0 auto 30px;
    font-size: 200%;
}
.allTasksContainer {
    margin: 20px;
    text-align: left;
    min-width: 750px;
}
.task {
    margin: 20px;
    display: inline-block;
    background-color: rgba(211,211,211,0.6);
    border-radius: 10px;
    width: 30%;
    word-wrap: break-word;
    vertical-align: top;
    padding-bottom: 10px;
}
.taskTitle {
    padding: 10px;
    min-height: 50px;
    width: 70%;
    font-size: 200%;
    margin: 10px;
    color: darkslategrey;
    cursor: pointer;
}
.taskContent {
    background-color: white;
    font-size: 150%;
    word-wrap: break-word;
    margin: 0 10px;
    padding: 0 10px;
}
.taskContent p {
    display: block;
    overflow: hidden;
}
.modifyTaskContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    justify-items: center;
    padding: 0 10px;
}
.modifyGrouperContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
    justify-items: center;
    padding: 5px 10px;
    width: 60%;
    margin-left: 30px;
}
.modifyTask {
    font-size: 120%;
    background-color: inherit;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    text-decoration: underline darkgray;
}
.modifyGrouper {
    font-size: 150%;
    background-color: lightgray;
    width: 100%;
    height: 70px;
    outline: none;
    margin: 10px;
    border: solid 1px darkgray;
    border-radius: 10px;
    color: gray;
}
.modifyTask:hover {
    background-color: darkgray;
    color: whitesmoke;
}
#newGrouperTitleField, .taskTitleInput {
    transition: all 300ms;
}
.taskIsDone p,.taskIsDone h4:not(.noStrike) {
    text-decoration: line-through;
}
.overlayForm {
    position: fixed; /* Sit on top of the page content */
    width: 50%;
    left: 25vw;
    border-radius: 50px;
    top: 10vh;
    max-height: 80vh;
    overflow-y: scroll;
    margin: auto;
    background-color: rgba(200,200,200,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
@media only screen and (max-width: 980px) {
    .task {
        width: 95%;
    }
    .taskTitle {
        width: 85%;
    }
    .modifyGrouperContainer {
        width: 80%;
    }
}